<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <title>Calculator</title>
    <link rel="icon" href="./img/calc_icon.png">
</head>

<body>
    <h1>Calculadora do {{name}}</h1>
    <input id="field1">
    <input id="field2">
    <input id="operador">
    <button>Calcular</button>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>